#car-image-detail {
  width: 100%;
  border-radius: 10px;
}

#car-detail {
  border-radius: 10px;
  padding-top: 50px;
  background-color: white;
}

#car-detail-price {
  text-align: center;
  font-size: 30px;
  margin-top: 20px;
  margin-bottom: 20px;
}

#car-detail-header {
  text-align: center;
  color: black;
  font-size: 30px;
  margin-bottom: 20px;
}

.rating-star {
  float: right;
  margin-left: 4px;
}

.active-star {
  color: orange;
}
