.container {
  margin-top: 70px;
}

#cars-filter {
 background-color: white;
}

#header-image {
  border-radius: 10px;
  width: 100%;
}

@media (max-width: 768px) {
  .header-image {
    display: none;
  }
}
